html{
    background-color: #fff;
}
.primaryContent{
    margin-left: 100px;
}

.primaryContent h1{
    margin-top: 70px;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    display: flex;
}
.primaryContent img{
    
    width: 600px;
    margin-left: 550px;
    margin-top: -200px;


}
header{
    font-family: 'Fredoka One', cursive;
    
}
p{
    text-align:start;
}