html{
    background-color: #fff;
}
header{
  height: 70px;
}
/* Aqui as edições do primeiro container */
.primaryContent{
    margin-left: 100px;
}

.primaryContent h1{
    margin-top: 70px;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    display: flex;
}
.primaryContent img{
    
    width: 550px;
    margin-left: 550px;
    margin-top: -220px;


}
/*Aqui as edições do segundo container */
.secondContent{
    margin-left: 1050px;
}
.secondContent img{
    width: 550px;
    margin-left: -700px;
    margin-top: -250px;
}
.secondContent h2{
    margin-top: 60px;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    display: flex;
}
/* Aqui as edições do terceiro container */
.thirdContent{
    margin-left: 400px;
    margin-bottom: 50px;
}
.thirdContent h3{
    margin-top: 70px;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    display: flex;
}
.thirdContent img{
    width: 550px;
    margin-left: 600px;
    margin-top: -280px;
}
/* Aqui está o footer */
.footer p{
    text-align: center;
}
footer{
    height: 30px;
}

/* A partir daqui ficam somente as interações de cabeçalho */
header{
    font-family: 'Fredoka One', cursive;
    
}
p{
    text-align:start;
}

@media (max-width: 1000px) {

    html{
        background-color: 
}

.primaryContent{
   display: grid;
   align-items: center;
}

.primaryContent h1{
    text-align:left;
    margin-top: 270px;
    margin-left: -55px
}
.primaryContent img{
    
   margin-left: -55px;
   margin-top: -1000px;

}
.primaryContent p{
   
   text-align:start;
   margin-left: -55px;
}
/* Aqui começa a responsividade do segundo container */

.secondContent{
    
    margin-left: 100px;
    margin-top: 140px;
    display: grid;
    height: 648px;

}

    
.secondContent img{
    margin-top: -700px;
    width: 450px;
    margin-left: -55px;
}
   
.secondContent h2{
    margin-top: 90px;
    text-align: left;
    padding-top: 80px;
    margin-left: -55px;
    
    
}
.secondContent p{
    text-align: start;
   margin-left: -55px;
   margin-top: -50px;

}
/* Aqui começa a responsividade do terceiro container */
.thirdContent{
    display: grid;
    margin-left: 100px;
    margin-top: 100px;
}
.thirdContent img{
    margin-left: -50px;
    width: 480px;
    margin-top: -560px;
}
.thirdContent h3{
    margin-left: -55px;
}
.thirdContent p{
    margin-left: -55px;
}
}